<main class="contenedor">
    <!-- Tabla Estilizada -->
    <table class="tabla-animes">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Numero de episodios</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            {% for animes in mostrar_post_animes %}
            <tr>
                <td>{{ animes.titulo }}</td>
                <td><strong>{{ animes.num_episodios }}</strong></td>
                <td class="imagen">
                    <img src="{{ animes.imagen.url }}" alt="{{ animes.titulo }}">
                </td>            
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

<div class="regreso">
<a href="{% url 'index' %}">Volver</a>
</div>

<!-- Estilos CSS para que quede bonita -->
<style>
    .contenedor {
        max-width: 1000px;
        margin: 20px auto;
        padding: 0 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .tabla-animes {
        width: 100%;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        border-radius: 8px 8px 0 0;
        overflow: hidden;
    }
    .tabla-animes thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }
    .tabla-animes th, .tabla-animes td {
        padding: 12px 15px;
    }
    .tabla-animes tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    .tabla-animes tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    .tabla-animes tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
    .regreso a{
        color: #008000;
    }
    .tabla-animes .imagen img {
    width: 120px;
    height: 170px;
    object-fit: cover;
    }
</style>
