<main class="contenedor">
    <!-- Tabla Estilizada -->
    <table class="tabla-plataformas">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Web</th>
                <th>Logo</th>
            </tr>
        </thead>
        <tbody>
            {% for plataformas in mostrar_post_plataformas %}
            <tr>
                <td>{{ plataformas.nombre }}</td>
                <td>
                    <a href="{{ plataformas.web }}" target="_blank">
                        Visitar Web
                    </a>
                </td>
                <td class="imagen">
                    <img src="{{ plataformas.logo.url }}" alt="{{ plataformas.nombre }}">
                </td>    
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

<div class="regreso">
<a href="{% url 'index' %}">Volver</a>
</div>

<!-- Estilos CSS para que quede bonita -->
<style>
    .contenedor {
        max-width: 1000px;
        margin: 20px auto;
        padding: 0 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .tabla-plataformas {
        width: 100%;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        border-radius: 8px 8px 0 0;
        overflow: hidden;
    }
    .tabla-plataformas thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }
    .tabla-plataformas th, .tabla-plataformas td {
        padding: 12px 15px;
    }
    .tabla-plataformas tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    .tabla-plataformas tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    .tabla-plataformas tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
       .regreso a{
        color: #008000;
    }
    .tabla-plataformas .imagen img {
    width: 120px;
    height: 170px;
    object-fit: cover;
    }
</style>
